
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Applied Candidates</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">employers</a></li>
                           <li class="active-breadcromb"><a href="#">Applied Candidates</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Top Job Area Start -->
      <section class="jobguru-top-job-area browse-page section_70">
         <div class="container">
            <div class="row">

               <div class="col-md-12 col-lg-9  mx-auto">
                  <div class="job-grid-right">



                     {{!-- <div class="browse-job-head-option">
                        <div class="job-browse-search">
                           <form>
                              <input type="search" placeholder="Search Jobs Here...">
                              <button type="submit"><i class="fa fa-search"></i></button>
                           </form>
                        </div>
                        <div class="job-browse-action">
                           <div class="email-alerts">
                              <input type="checkbox" class="styled" id="b_1">
                              <label class="styled" for="b_1">email alerts for this search</label>
                           </div>
                           <div class="dropdown">
                              <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-bs-toggle="dropdown" aria-haspopup="true">Short By</button>
                              <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                                 <li>Newest</li>
                                 <li>Oldest</li>
                                 <li>Random</li>
                              </ul>
                           </div>
                        </div>
                     </div> --}}
                     <!-- end job head -->
                     <div class="candidate-list-page">


                        {{#each applieduserdetails}}
                        <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="/userprofile/{{this.user_id}}.jpg" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">

                                       <h3><a href="#">{{this.profilename}}</a></h3>
                                       {{!-- <img src="/employer1/assets/img/de.svg" alt="region" /> --}}
                                    </div>
                                    <p>{{this.jobtitle}}</p>
                                 </div>
                                 {{!-- <div class="candidate-text-inner">
                                    <p>{{this.profilebio}}</p>
                                 </div> --}}
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="fa fa-thumbs-up"></i> score:{{this.score}}</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i>{{this.Region}}</p>
                                       {{!-- <p class="varify"><i class="fa fa-check"></i> $50 / hr</p> --}}
                                    </div>
                                    <div class="candidate-action">
                                       <a href="/employer/viewapplieduserprofile?userid={{this._id}}" class="jobguru-btn-2">view profile</a>
                                    </div>
                                    <div class="candidate-action col-md 4 ">
                                       <a href="/employer/showAllAppliedJobByUser?userid={{this.user_id}}" class="jobguru-btn-2">applied jobs</a>
                                    </div>
                                    {{!-- accept user --}}
                                    {{#if this.accepted}}
                                      <div class="candidate-action ">
                                       <a class="jobguru-btn-2">Accepted</a>
                                    </div>
                                    {{else}}
                                    <div class="candidate-action ">
                                       <a href="/employer/acceptjob?userid={{this.user_id}}&jobid={{../jobid.jobid}}" class="jobguru-btn-2">Accept</a>
                                    </div>
                                    {{/if}}
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                        {{/each}}
                        <!-- End Single Candidate List -->
                        {{!-- <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="/employer1/assets/img/msg-1.png" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">
                                       <h3><a href="#">Sebastiano Piccio</a></h3>
                                       <img src="/employer1/assets/img/au.svg" alt="region" />
                                    </div>
                                    <p>Web Developer</p>
                                 </div>
                                 <div class="candidate-text-inner">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                 </div>
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="fa fa-thumbs-up"></i> 100% job success</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i> Berlin</p>
                                       <p class="varify"><i class="fa fa-check"></i> $45 / hr</p>
                                    </div>
                                    <div class="candidate-action">
                                       <a href="#" class="jobguru-btn-2">view profile</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div> --}}
                        {{!-- <!-- End Single Candidate List -->
                        <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="/employer1/assets/img/msg-4.png" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">
                                       <h3><a href="#">Kathy Crawford</a></h3>
                                       <img src="/employer1/assets/img/gb.svg" alt="region" />
                                    </div>
                                    <p>Laravel Dev</p>
                                 </div>
                                 <div class="candidate-text-inner">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                 </div>
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="fa fa-thumbs-up"></i> 100% job success</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i> Berlin</p>
                                       <p class="varify"><i class="fa fa-check"></i> $50 / hr</p>
                                    </div>
                                    <div class="candidate-action">
                                       <a href="#" class="jobguru-btn-2">view profile</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Single Candidate List -->
                        <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="/employer1/assets/img/msg-3.png" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">
                                       <h3><a href="#">david kamal </a></h3>
                                       <img src="/employer1/assets/img/de.svg" alt="region" />
                                    </div>
                                    <p>UI/UX Designer</p>
                                 </div>
                                 <div class="candidate-text-inner">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                 </div>
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="fa fa-thumbs-up"></i> 100% job success</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i> Berlin</p>
                                       <p class="varify"><i class="fa fa-check"></i> $50 / hr</p>
                                    </div>
                                    <div class="candidate-action">
                                       <a href="#" class="jobguru-btn-2">view profile</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Single Candidate List -->
                        <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="/employer1/assets/img/msg-2.png" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">
                                       <h3><a href="#">david kamal </a></h3>
                                       <img src="/employer1/assets/img/pl.svg" alt="region" />
                                    </div>
                                    <p>UI/UX Designer</p>
                                 </div>
                                 <div class="candidate-text-inner">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                 </div>
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="fa fa-thumbs-up"></i> 100% job success</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i> Berlin</p>
                                       <p class="varify"><i class="fa fa-check"></i> $50 / hr</p>
                                    </div>
                                    <div class="candidate-action">
                                       <a href="#" class="jobguru-btn-2">view profile</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Single Candidate List -->
                        <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="/employer1/assets/img/msg-2.png" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">
                                       <h3><a href="#">david kamal </a></h3>
                                       <img src="/employer1/assets/img/de.svg" alt="region" />
                                    </div>
                                    <p>UI/UX Designer</p>
                                 </div>
                                 <div class="candidate-text-inner">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                 </div>
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="fa fa-thumbs-up"></i> 100% job success</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i> Berlin</p>
                                       <p class="varify"><i class="fa fa-check"></i> $50 / hr</p>
                                    </div>
                                    <div class="candidate-action">
                                       <a href="#" class="jobguru-btn-2">view profile</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Single Candidate List --> --}}
                     </div>
                     {{!-- <div class="pagination-box-row">
                        <p>Page 1 of 6</p>
                        <ul class="pagination">
                           <li class="active"><a href="#">1</a></li>
                           <li><a href="#">2</a></li>
                           <li><a href="#">3</a></li>
                           <li>...</li>
                           <li><a href="#">6</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                     </div> --}}
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Top Job Area End -->
       
       
      