


       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>User Applied Jobs</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">candidates</a></li>
                           <li class="active-breadcromb"><a href="#">browse jobs</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Top Job Area Start -->
      <section class="jobguru-top-job-area browse-page section_70">
         <div class="container">
            <div class="row">


               {{!-- <div class="col-md-12">
                  <div class="browse-job-head-option">
                     <div class="job-browse-search">
                        <form>
                           <input type="search" placeholder="Search Jobs Here...">
                           <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                     </div>
                     <div class="job-browse-action">
                        <div class="email-alerts">
                           <input type="checkbox" class="styled" id="b_1">
                           <label class="styled" for="b_1">email alerts for this search</label>
                        </div>
                        <div class="dropdown">
                           <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-bs-toggle="dropdown" aria-haspopup="true">Sort By</button>
                           <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                              <li>Newest</li>
                              <li>Oldest</li>
                              <li>Random</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div> --}}



               <!--end col-->
               {{!-- <div class="col-md-12">
                  <div class="available-count">
                     <h4>3087 jobs are available in <a href="#">programming & tech</a> category</h4>
                  </div>
               </div> --}}
            </div>
            <div class="row">

               {{#each userAppliedjobs}}

               <div class="col-md-6 col-lg-4">
                  <div class="sigle-top-job">
                     <div class="top-job-company-image">
                        <div class="company-logo-img">
                           <a href="#">
                           <img src="/employprofile/{{this.employer_id}}.png" style="width: 10px height: 10px;;" alt="company image" />
                           </a>
                        </div>
                        <div style="margin-top: 8rem;">
                            <h3><a href="#">{{this.jobTitle}}</a></h3>
                        </div>
                     </div>
                     <div class="top-job-company-desc">
                        <ul>
                           <li>Location <span class="company-state"><i class="fa fa-map-marker"></i>{{this.Location}}</span></li>
                           <li>salary <span class="open-icon"><i class="fa fa-credit-card-alt"></i>{{this.minSalary}}-{{this.maxSalary}}</span></li>
                           <li>status <span class="varify"><i class="fa fa-check"></i>{{this.jobtype}}</span></li>
                        </ul>
                        {{!-- <div class="top-job-company-btn">
                           <a href="#" class="jobguru-btn-2">Bid now</a>
                        </div> --}}
                     </div>
                  </div>
               </div>

               {{/each}}






         
            </div>

            {{!-- <div class="row">
               <div class="col-md-12">
                  <div class="pagination-box-row">
                     <p>Page 1 of 6</p>
                     <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div> --}}


         </div>
      </section>
      <!-- Top Job Area End -->
       
    